<a href="https://colab.research.google.com/github/hegxy007/EXCEL_Files/blob/main/Customers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
Customer = pd.read_csv("Customer_demographics_and_sales_2023.csv")
Customer

,Gender_Code,Customer FirstName,Coustomer LastName,Customer Name,Address1,City,State,Country_Code,Postal_Code,Postal_Code_Plus4,...,Cleaning Products,Condiments,Frozen Foods,Kitchen Items,Meat,Office Supplies,Personal Care,Pet Supplies,Sea Food,Spices
0,Mr.,Allen,Perl,Allen Perl,4707 Hillcrest Lane,Abeto,PG,IT,6040,0,...,0,1,0,0,0,0,0,0,0,0
1,Mr.,Allen,Perl,Allen Perl,4707 Hillcrest Lane,Abeto,PG,IT,6040,0,...,1,0,0,0,0,0,0,0,0,0
2,Mr.,Allen,Perl,Allen Perl,4707 Hillcrest Lane,Abeto,PG,IT,6040,0,...,0,0,0,0,0,0,0,0,0,0
3,Mr.,Allen,Perl,Allen Perl,4707 Hillcrest Lane,Abeto,PG,IT,6040,0,...,0,0,0,0,0,0,0,0,0,0
4,Mr.,Allen,Perl,Allen Perl,4707 Hillcrest Lane,Abeto,PG,IT,6040,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,Mrs.,Rebecca,Uresti,Rebecca Uresti,4333 Morningview Lane,Birmingham,AL,US,35203,0,...,0,0,0,0,0,0,0,0,0,0
190,Mrs.,Emma,Perez,Emma Perez,1199 Lightning Point Drive,Black Hawk,SD,US,57718,0,...,0,0,0,0,0,0,0,0,0,0
191,Mr.,Reynaldo,Myers,Reynaldo Myers,3923 Black Stallion Road,Blaxland East,NSW,AU,2774,0,...,0,1,0,0,0,0,0,0,0,0
192,Mr.,Reynaldo,Myers,Reynaldo Myers,3923 Black Stallion Road,Blaxland East,NSW,AU,2774,0,...,0,1,0,0,0,0,0,0,0,0
193,Mrs.,Jennifer,Becker,Jennifer Becker,4374 Lindale Avenue,Bloomington,IL,US,61701,0,...,0,0,0,0,0,0,0,0,1,1

In [3]:
Customer.info

<bound method DataFrame.info of     Gender_Code Customer FirstName Coustomer LastName     Customer Name  \
0           Mr.             Allen               Perl        Allen Perl
1           Mr.             Allen               Perl        Allen Perl
2           Mr.             Allen               Perl        Allen Perl
3           Mr.             Allen               Perl        Allen Perl
4           Mr.             Allen               Perl        Allen Perl
..          ...                ...                ...               ...
189        Mrs.           Rebecca             Uresti    Rebecca Uresti
190        Mrs.              Emma              Perez        Emma Perez
191         Mr.          Reynaldo              Myers    Reynaldo Myers
192         Mr.          Reynaldo              Myers    Reynaldo Myers
193        Mrs.          Jennifer             Becker   Jennifer Becker

                       Address1           City State Country_Code Postal_Code  \
0           4707 Hillcrest Lane          Abeto    PG           IT        6040
1           4707 Hillcrest Lane          Abeto    PG           IT        6040
2           4707 Hillcrest Lane          Abeto    PG           IT        6040
3           4707 Hillcrest Lane          Abeto    PG           IT        6040
4           4707 Hillcrest Lane          Abeto    PG           IT        6040
..                          ...            ...   ...          ...         ...
189       4333 Morningview Lane     Birmingham    AL           US       35203
190  1199 Lightning Point Drive     Black Hawk    SD           US       57718
191    3923 Black Stallion Road  Blaxland East   NSW           AU        2774
192    3923 Black Stallion Road  Blaxland East   NSW           AU        2774
193         4374 Lindale Avenue    Bloomington    IL           US       61701

     Postal_Code_Plus4  ...  Cleaning Products Condiments Frozen Foods  \
0                    0  ...                  0          1            0
1                    0  ...                  1          0            0
2                    0  ...                  0          0            0
3                    0  ...                  0          0            0
4                    0  ...                  0          0            0
..                 ...  ...                ...        ...          ...
189                  0  ...                  0          0            0
190                  0  ...                  0          0            0
191                  0  ...                  0          1            0
192                  0  ...                  0          1            0
193                  0  ...                  0          0            0

    Kitchen Items  Meat Office Supplies Personal Care Pet Supplies  Sea Food  \
0               0     0               0             0            0         0
1               0     0               0             0            0         0
2               0     0               0             0            0         0
3               0     0               0             0            0         0
4               0     0               0             0            0         0
..            ...   ...             ...           ...          ...       ...
189             0     0               0             0            0         0
190             0     0               0             0            0         0
191             0     0               0             0            0         0
192             0     0               0             0            0         0
193             0     0               0             0            0         1

     Spices
0         0
1         0
2         0
3         0
4         0
..      ...
189       0
190       0
191       0
192       0
193       1

[194 rows x 64 columns]>